<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
    </head>

    <body>

        <header>
            <div class="">
                <div id="divtitle">   
                    <p id="title1" >Sentiment Analyzer</p>
                </div>

                <img src="./assets/logo.jpg" ></img>
            </div>
           
    
        </header>

        <main>
            <section>
                <form class="" onsubmit="return handleSubmit(event)">
                    <label id="urllabel">Enter the article/blog URL to analyze</label>
                    <input id="url" type="text" name="input" value="" placeholder="URL">
                    <input type="submit" class="button1" name="analyze" value="Analyze" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>

            <section>
                <p  id="results">Sentiment Results</p>
                <div>
               
                <table>
                    <tr>
                      <th>Agreement</th>
                      <th>Score Tag</th>
                      <th>Subjectivity</th>
                      <th>Confidence</th>
                      <th>Irony</th>
                      
                    </tr>
                    <tr>
                      <td>agreement</td>
                      <td>P</td>
                      <td>subjective</td>
                      <td>98</td>
                      <td>ironic</td>
                    </tr>
                  </table>
                </div>
            </section>
        </main>


    </body>
</html>
