<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Sentiment Analyzer</title>
        
    </head>

    <body>

        <header>
            <div class="">
                <div id="divtitle">   
                    <p id="title1" >Sentiment Analyzer</p>
                </div>

                <img src="./assets/logo.jpg" ></img>
            </div>
           
    
        </header>

        <main>
            <section>
                <form class="" onsubmit="return handleSubmit(event)">
                    <label id="urllabel">Enter the article/blog URL to analyze</label>
                    <input id="url" type="text" name="input" value="" placeholder="URL">
                    <input type="submit" class="button1" name="analyze" value="Analyze" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>

            <section>
                <p  id="results">Sentiment Results</p>
                <div id="analysis">
                </div>
            </section>
        </main>

        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>

    </body>
</html>
